page-home {

}

.card {
  padding: 16px;

}

#lista_repos{
  width: 70%;
}

#lista_user_content{
  width: 30%;
}

#content_pai {
  width: 100%
}

.alinhamento_li {
  display: inline;

}

.alinhamento_ul {
  padding: 0px;
}
